<form method="post" action="/new">

  <label for="name">Enter name:</label>
    <input type="text" id="name" name="name">

  <label for="age">Enter age:</label>
    <input type="text" id="age" name="age">

  <label for="breed">Enter breed:</label>
    <input type="text" id="breed" name="breed">

    <input type="submit" id="submit">

</form>
