<!DOCTYPE html>
<html>
    <head>
        <title>List of Puppies</title>
    </head>
    <body>
        <h1>List of Puppies</h1>
        <p>Puppy Name: <%=@puppy_text.name%></p>
        <p>Puppy Breed: <%=@puppy_text.breed%></p>
        <p>Puppy Age: <%=@puppy_text.age%></p>

    </body>
</html>
