<!DOCTYPE html>
<html>
    <head>
        <title>Puppy HomePage</title>
    </head>
    <body>
        <h1>Welcome To Puppy Adoption Site</h1>
        <a href="/new">Click Here To List A Puppy</a>
    </body>
</html>
